.expand_toggle {
  display:flex;
  justify-content: space-between;
  margin-left: 30px;
  margin-right: 30px;
}

.expand_toggle button {
  padding: 0;
  border: none;
  background: none;
  
}
.expand_toggle img {
  mix-blend-mode: multiply;
  width:50px;
  height:50px;
  padding: 10px;
}
.search {
  display: flex;
  justify-content: space-around;
}
.users {
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto auto;
  grid-gap:36px;
  margin:30px;
}

.userinfo img {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: black;
}
.userinfo {
  display: flex;
  justify-content: space-around;
  height: 30px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.userinfo_left {
  display: flex;
  align-items: center;
  width: 50%;
}
.userinfo_left p {
  margin: 20px;
}
.gallery {
  display: flex;
  justify-content: center;
  max-height: 350px;
  margin-bottom: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  margin:0px;
}

.gallery_pics img {
  display: flex;
  justify-content: center;
  width:450px;
  height:350px;
  border-radius: 15px;
  margin-bottom: 5px;
}

.gallery_pic img {
  display: flex;
  justify-content: center;
  width:440px;
  height:350px;
  border-radius: 15px;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #f1f1f10a;
}
::-webkit-scrollbar-thumb {
  background: #0a3768;
  border-radius: 20px;
}
