.search {
  display: flex;
  justify-content: space-around;
}
.users {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  width: 95vw;
  height: 100vh;
  overflow-y: auto;
}
.userCard {
  width: auto;
  height: auto;
  margin: 20px;
}

.userinfo img {
  border-radius: 50%;
  background-color: black;
}
.userinfo {
  display: flex;
  justify-content: space-around;
  height: 30px;
}

.userinfo_left {
  display: flex;
  justify-content: space-around;
  margin-top: 0px;
}
.gallery {
  display: flex;
  justify-content: center;
  height: 400px;
  width: auto;
  overflow-y: scroll;
}

.gallery_pics img {
  display: flex;
  justify-content: center;
  width: 440px;
  height: 98%;
  border-radius: 10px;
  margin: 5px;
}

.gallery_pic img {
  display: flex;
  justify-content: center;
  width: 440px;
  height: 98%;
  border-radius: 10px;
}
