.users {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    border: 3px solid #D1E8E2;
    color: #ffcb9a;
    width:auto;
    height: auto;
    margin: 30px 60px;
    background-color: #116466;
}
.userCard {
    display: flex;
    justify-content: space-between;
    padding:20px;
    height:150px;
    margin:10px 20px;
    border:2px solid #ffcb9a;
    border-radius: 10px;
}
.userinfo {
    margin:0px;
    padding: 0px;
}
.grades {
    background-color: #3a2a1b;

}