.hobbies {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  font-size: medium;
  font-weight: 450;
}
.hobby {
  display: flex;
  flex-wrap: no-wrap;
  overflow-x: auto;
  width: 50%;
}

.hobby::-webkit-scrollbar {
  display: none;
}

.hobbies p {
  display: flex;
  justify-content: center;
  color: black;
  margin: 20px;
  padding: 10px;
  border-radius: 5px;
  white-space: nowrap;
}
.hobbies_all p:hover {
  background-color: rgb(203, 198, 198);
}
