.hobby {
  display: flex;
  flex-wrap: no-wrap;
  width: 70vw;
  overflow-x: auto;
  margin: 20px;
  height: auto;
}

.hobby p {
  color: black;
  border: 2px solid black;
  padding: 15px 20px 20px 20px;
  margin: 5px;
  margin-top: 20px;
  height: 3%;
  border-radius: 20px;
}

.result p {
  display: block;
  align-items: start;
  justify-content: space-between;
}