.home {
    min-height:400vh;
    color:black;
    font-weight: 300;
    line-height: 1.25;
    text-align: center;

}

.home_writing {
padding-top:7%;
padding-bottom: 4%;
}

.home_info img {
    width: 65%;
    height: 500px;
    border-radius: 40px;
}

.home_benefits {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}