.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: large;
  font-weight: 450;
  /* margin-bottom: 20px; */
  padding-top: 15px;
  background-color: black;
  color:white;
}
.nav_left {
  display: flex;
  justify-content: space-around;
  width: 50%;

}
.nav_right {
  display: flex;
  justify-content: space-around;
  width: 20%;
}
Link {
  text-decoration: none;
}

