.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: large;
  font-weight: 450;
  padding-top: 15px;
  background-color: rgb(12, 15, 115);
  color:white;
}
.nav_left {
  display: flex;
  justify-content: space-around;
  width: 50%;

}
.nav_right {
  display: flex;
  justify-content: space-around;
  width: 20%;
}
