.searchbar {
  display:flex;
  justify-content: center;
  height: 80px;
  background: linear-gradient(66deg, #e6fbfe 0%, #edddfb 100%);
}
.searchbar input {
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  height: 60px;
  border-radius: 8px;
  border: 1px solid transparent;
  width: 40%;
  background: #fff;
  margin-top: 60px;
  padding-bottom:1px;
  border:1px solid;
}
.searchbar select {
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  height: 60px;
  border-radius: 8px;
  width: 10%;
  margin-left:0px;
  background: #fff;
  margin-top: 60px;
}

::placeholder {
  font-size:large ;
  padding:10px;
}
