.profile_info {
  display: box;
  align-items: center;
  width: 600px;
  height: 380px;
  padding: 10px;
  margin: 30px 60px;
  border: 3px solid #D1E8E2;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #2c3531;
}
.profile_username {
  display: flex;
  justify-content: space-evenly;
}
.profile_imgupload {
  display: flex;
  justify-content: space-evenly;
}
