body {
  display: flex;
  justify-content: center;
  background-color: #C0CFE7;
  color: black;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.home {
  display: flex;
  justify-content: center;
}
.live {
  display: flex;
  justify-content: center;
}
